* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


main {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;  
    background-color: black;
    background-image: radial-gradient(
    ellipse at 80% 1%,    
    #1a1b1f 0%,           
    #000000 80%);          
}

.form-login {
    border: solid #27272a 0.1px;
    border-radius: 20px;
    padding: 100px 100px; 
}

.icon-padlock {
    display: flex;
    justify-content: center;
    align-items: center;
}



#padlock {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 15px rgba(55, 65, 81, 0.5);
}

#padlock {
    color: #d4d4d8;
    width: 75px;
    height: 75px;
    border-radius: 12px;
    margin-bottom: 40px;
    font-size: 30px;
    background-image: linear-gradient(to right, #4b5563, #1f2937)
    

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a1a1aa;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.important {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#emailtext {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

#email{
    margin-top: 5px;
    border: solid 1px #3f3f46;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #27272a;
    font-size: 14px;
    color: white;

}

.email-wraped {
    margin-bottom: 16px;
}

#passwordtext {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

#password {
    margin-top: 5px;
    border: solid 1px #3f3f46;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #27272a;
    font-size: 14px;
    color: white;
}

#recortext {
    display: flex;
    color: white;
    font-size: 14px;
    font-weight: 500;
    gap: 5px;
}


.recor {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#recortext {
    cursor: pointer;
}

.olv {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-top: 2px;
}

.olv:hover {
    color: rgb(196, 194, 194);
}

.icons{
    display: flex;
    justify-content: center;
    gap: 45px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.btn {
    width: 100%;
    height: 40px;
    border: solid 0;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-image: linear-gradient(to right, #4b5563, #1f2937);
    transition-duration: 0.4s;
    box-shadow: 0px 6px 15px rgba(55, 65, 81, 0.5);
}

.btn:hover {
    transform: scale(1.1);
}

.parra {
    margin-top: 15px;
}


.re2g {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.re2g:hover {
    color: rgb(196, 194, 194);
}

#icn {
    background-color: #3f3f4652;
    width: 45px;
    height: 45px;
    color: rgb(230, 229, 229);
    border: solid #3f3f4652 1px;
    border-radius: 12px;
    margin-top: 10%;
    transition-duration: 0.4s;
}

.icons > i{
    display: flex;
    justify-content: center;
    align-items: center;
}

#icn:hover {
    border-color: #70707452;
    cursor: pointer;
    transform: scale(1.1);
}

.icons {
    display: flex;
    gap: 55px;
}